@{
    ViewBag.Title = "User Profile";
}

@section scripts {

}
<div class="container" ng-app="UserProfileModule">
 
    @Html.Partial("_TopMenu")

    <div class="page-header">Mak Sample site - user profile</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div anti-Forgery-Token ng-view>  </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/userprofile-modules")

@Scripts.Render("~/bundles/userprofile-controllers")

