<form  name="formAssociate" novalidate>

    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h3>Associate your {{associateCtrl.registerDataVM.Provider}} Account</h3>
            <hr />
            <p class="text-success">You have successfully autheticated with <strong>{{associateCtrl.registerDataVM.Provider}} </strong>. Please enter a user name below for this site and click the Register button to log in.</p>
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Age *</label>
                        <div class="col-md-10">
                            <select name="ageRange" ng-model="associateCtrl.registerDataVM.AgeRange" style="width:200px" ng-required="true"
                                    ng-options="a.id as a.name for a in associateCtrl.registerDataVM.AgeRangeList"></select>
                        </div>
                        <div class="help-block" ng-messages="formAssociate.ageRange.$error" ng-if="formAssociate.ageRange.$touched">
                            <p ng-message="required">Age is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email *</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="associateCtrl.registerDataVM.Email" ng-minlength="6"
                                   ng-maxlength="100" ng-required="true" autofocus>
                        </div>
                        <div class="help-block" ng-messages="formAssociate.email.$error" ng-if="formAssociate.email.$touched">
                            <p ng-message="required">Your name is required.</p>
                            <p ng-message="minlength">Your name is too short.</p>
                            <p ng-message="maxlength">Your name is too long.</p>
                            <p ng-message="email">This needs to be a valid email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-info btn-block" type="button" style="margin-top:10px;"  ng-disabled="formAssociate.$invalid" data-ng-click="associateCtrl.RegisterExternal()">Register</button>
                    </div>
                    <div data-ng-hide="associateCtrl.ProcessInfo.Message == ''" data-ng-class="(associateCtrl.ProcessInfo.IsSucceed) ? 'alert alert-success' : 'alert alert-danger'">
                        {{associateCtrl.ProcessInfo.Message}}
                    </div>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>